#preloader {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: black;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  transform-origin: center center;
  animation: pulse 2s 800ms infinite both;
  z-index: 101;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

body.inactive {
  height: 100v;
  width: 100vw;
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
}

*,
:before,
:after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: icomoon;
  src: url("icomoon.a1becc44.ttf") format("truetype"), url("icomoon.640858dc.woff") format("woff"), url("icomoon.00496ae6.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icomoon !important;
}

.icon-home:before {
  content: "";
}

.icon-quill:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-film:before {
  content: "";
}

.icon-mic:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-behance:before {
  content: "";
}

h1,
h2,
h3 {
  letter-spacing: 3px;
  font-family: Oswald, sans-serif;
}

body,
html {
  color: #121212;
  background-color: #fff;
  padding-top: 7rem;
  font-family: "Exo 2", sans-serif;
  font-size: 62.5%;
}

@media (max-width: 640px) {

  body,
  html {
    font-size: 50%;
  }
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 2rem;
}

.button {
  text-align: center;
  color: inherit;
  max-width: 20rem;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #000;
  border-radius: .4rem;
  outline: none;
  margin-top: 1rem;
  padding: 2rem 0;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.button:hover {
  color: #000;
  border: 1px solid #0000;
  transform: scale(1.1);
  box-shadow: -2px 2px 10px #00000080;
}

.section-title {
  text-align: right;
  margin: 2rem 0;
  font-size: 2.2rem;
  position: relative;
  color: #000000;
}

.section-title:before {
  content: "";
  height: 1px;
  width: 70%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 2rem;
}

@media (max-width: 640px) {
  .section-title:before {
    width: 20%;
  }
}

.header {
  min-height: 7rem;
  width: 100vw;
  z-index: 10;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
  transition: background-color .5s ease-in-out;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 767.98px) {
  .header {
    z-index: -10;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.burger__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  height: 8px;
  background-color: rgba(255, 255, 255, .9);
  padding: 2rem;
}
@media (min-width: 767.98px) {
  .burger__container {
    z-index: -90;
  }
}

.burger {
  width: 2rem;
  height: 1rem;
  cursor: pointer;
  visibility: hidden;
  position: relative;
  z-index: 101;
}

@media (max-width: 767.98px) {
  .burger {
    visibility: visible;
    align-self: flex-start;
  }
}

.burger__line {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #121212;
  transition: all .3s ease-in-out;
  position: absolute;
  left: 0;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translate(0%, -50%);
}

.burger__line:nth-child(3) {
  bottom: 0;
}

.burger.isActive span {
  background-color: #000;
}

.burger.isActive span:nth-child(2) {
  transform: translate(-25%, -50%);
}

@media (max-width: 767.98px) {
  .nav {
    min-height: 100vh;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    transition: all .5s ease-in-out;
    display: flex;
    transform: translateY(-100%);
    padding-top: 4rem;
  }
}

.nav__link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #121212;
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all .3s ease-in-out;
  position: relative;
}

@media (max-width: 767.98px) {
  .nav__link {
    font-size: 2rem;
  }
}

.nav__link:hover {
  color: #000;
  font-weight: bold;
  position: relative;
  transform: scale(1.2);
}

.nav__link:not(:last-child) {
  margin-right: 2rem;
}

.nav__link:nth-last-child(-n+2):after {
  display: none;
}

.nav__link:not(:last-child):after {
  content: "";
  width: .4rem;
  height: .4rem;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: -1rem;
}

@media (max-width: 767.98px) {
  .nav__link:not(:last-child):after {
    top: 6rem;
    left: 50%;
    transform: translateX(50%);
  }
}

.nav__icon {
  color: #121212;
  margin-right: .5rem;
}

.header.isActive {
  z-index: 20;
  background-color: #fff;
}

.header.isActive .nav {
  opacity: 1;
  transform: translateY(0%);
}

.phone,
.phone--mobile {
  opacity: .9;
  color: #121212;
  font-size: 1.4rem;
  text-decoration: none;
}

.phone:hover,
.phone--mobile:hover {
  color: #000;
  opacity: 1;
}

.phone__icon,
.phone--mobile__icon {
  margin-right: .5rem;
}

@media (max-width: 767.98px) {

  .phone,
  .phone--mobile {
    display: none;
  }
}

.phone--mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .phone--mobile {
    font-size: 2rem;
    display: block;
  }
}

.hero {
  min-height: calc(100vh - 14rem);
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  display: flex;
  position: relative;
}

@media (max-width: 640px) {
  .hero {
    flex-direction: column;
    justify-content: start;
  }
}

.hero__socials {
  margin-right: 3rem;
}

.hero__img {
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1279.98px) {
  .hero__img {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .hero__img {
    width: 100%;
    height: 40rem;
    margin-top: 2rem;
  }
}

.socials {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  display: flex;
  position: relative;
}

@media (max-width: 640px) {
  .socials {
    flex-direction: row;
  }
}

.socials:before {
  content: "";
  width: 1px;
  height: 30%;
  background-color: #121212;
  position: absolute;
  top: 0;
  left: 50%;
}

@media (max-width: 1279.98px) {
  .socials:before {
    height: 30%;
  }
}

@media (max-width: 640px) {
  .socials:before {
    display: none;
  }
}

.socials:after {
  content: "";
  width: 1px;
  height: 30%;
  background-color: #121212;
  position: absolute;
  bottom: 0;
  left: 50%;
}

@media (max-width: 1279.98px) {
  .socials:after {
    height: 30%;
  }
}

@media (max-width: 640px) {
  .socials:after {
    display: none;
  }
}

.socials__link {
  color: #121212;
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.socials__link:hover {
  color: #000;
  background-color: #f0eeee;
  transform: scale(1.1);
  box-shadow: -3px 3px 10px #00000080;
}

.title {
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  display: flex;
}

@media (max-width: 1279.98px) {
  .title {
    max-width: 30%;
  }
}

@media (max-width: 640px) {
  .title {
    max-width: 100%;
    text-align: center;
  }
}

.title__desc {
  max-width: 50%;
  font-size: 1.4rem;
}

@media (max-width: 1279.98px) {
  .title__desc {
    max-width: 100%;
  }
}

.title__button {
  width: 50%;
  margin: 2rem auto 0;
}

.services {
  color: #f0eeee;
  background-color: #2e2e2e;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 4rem 0;
}

.services__title {
  text-align: center;
  text-transform: uppercase;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.services__list {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  display: flex;
}

@media (max-width: 640px) {
  .services__list {
    flex-wrap: wrap;
  }
}

.services__item {
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  display: flex;
}

@media (max-width: 640px) {
  .services__item {
    min-width: 40%;
  }
}

.services__icon {
  font-size: 5rem;
}

.services__name {
  margin-top: 2rem;
}

.services__desc {
  text-transform: none;
  text-align: center;
}

.slider {
  min-height: 0;
  padding: 2rem 0;
}

.slider__button {
  width: 20rem;
  color: #fff;
  background-color: #000;
  margin-top: 4rem;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}

.slider__button:hover {
  color: #121212;
}

.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f0eeee !important;
}

.grid-item {
  width: 25%;
  padding: 1rem;
  transition: transform .3s ease-in-out;
}

.grid-item:nth-child(3n) {
  width: 50%;
}

.grid-item:hover {
  transform: scale(1.01);
}

.grid-item img {
  object-fit: cover;
}

.pricing {
  color: #fff;
  padding-bottom: 2rem;
}

.pricing__item {
  background-color: #121212;
  border: 1px solid #121212;
  padding: 1.8rem;
}

.pricing__item-title {
  text-transform: uppercase;
  text-align: center;
}

.pricing__price {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.pricing__desc {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.pricing__list-item {
  padding-left: 1rem;
  position: relative;
}

.pricing__list-item:before {
  content: "";
  height: 1px;
  width: .5rem;
  background-color: #121212;
  position: absolute;
  top: 50%;
  left: 0;
}

.pricing__button {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: auto;
  color: #121212;
  opacity: .9;
  background-color: #f0eeee;
  border: 1px solid #121212;
  margin: 1rem auto 0;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

.pricing__button:hover {
  color: #000;
  opacity: 1;
  border: 1px solid #0000;
  transform: scale(1.1);
  box-shadow: -2px 2px 10px #ffffff80;
}

.pricing__wrapper {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  display: flex;
}

@media (max-width: 640px) {
  .pricing__wrapper {
    flex-direction: column;
  }
}

.about {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.about__wrapper {
  background-color: #f0eeee;
  padding: 1rem;
  display: flex;
}

@media (max-width: 640px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.about__photo {
  width: 30%;
  height: 40rem;
  object-fit: cover;
  margin-left: 4rem;
}

@media (max-width: 640px) {
  .about__photo {
    width: 100%;
  }
}

.about__desc {
  width: 70%;
  padding: 1rem 2rem;
}

@media (max-width: 640px) {
  .about__desc {
    width: 100%;
  }
}

.contacts {
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
}

.contacts__form {
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
}

@media (max-width: 640px) {
  .contacts__form {
    width: 100%;
  }
}

.contacts__form input {
  color: #fff;
  background-color: #121212;
  border: none;
  outline: none;
}

.contacts__form input:focus {
  box-shadow: -2px 2px 10px #3bebf880;
}

.contacts__form input::placeholder {
  color: #fff;
}

.contacts__name,
.contacts__email {
  width: 45%;
  padding: 2rem 1rem;
}

.contacts__message {
  width: 100%;
  min-height: 40rem;
  color: #fff;
  background-color: #121212;
  border: none;
  outline: none;
  padding: 2rem 1rem;
}

.contacts__message:focus {
  box-shadow: -2px 2px 10px #3bebf880;
}

.contacts__message::placeholder {
  color: #fff;
}

.contacts__button {
  width: auto;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.footer {
  color: #fff;
  background-color: #121212;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  display: flex;
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

.footer__info {
  text-align: center;
  width: 33%;
}

.footer__info span {
  color: #6fa34c;
  font-family: Oswald, monospace;
  font-size: 2rem;
  display: block;
}

.footer-nav {
  width: 33%;
}

@media (max-width: 425px) {
  .footer-nav {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.footer-nav__link {
  text-transform: uppercase;
  color: #f0eeee;
  text-decoration: none;
}

.footer-nav__link:not(:last-child) {
  margin-right: 2rem;
}

.footer-nav__link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-socials {
  width: 33%;
  text-align: right;
}

@media (max-width: 425px) {
  .footer-socials {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.footer-socials__link {
  text-transform: uppercase;
  color: #f0eeee;
  font-size: 2rem;
  text-decoration: none;
}

.footer-socials__link:not(:last-child) {
  margin-right: 2rem;
}

.footer-socials__link:hover {
  color: #fff;
  text-decoration: underline;
}

/*# sourceMappingURL=index.b2d9cf43.css.map */
